.mainF{
   width:100%;
   /*background-color: rgb(0, 255, 0);*/
}

.logoSize{
   width: 50%;
   height: 20%;
   height: auto;
   margin: auto;
   background-color: rgb(255, 0, 0);
}

.centerY{
   margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centerBoth{
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img{
   max-width: 100%;
   height: auto;
}

.buttonS{
   width: 60%;
   height: auto;
   margin: 1.5% 0px;
}

.logoS{
   width: 60%;
   height: auto;
   margin: 5% 0px;
}

body {
   background-image: "ouc.jpg";
   background-size: cover; /* Resize the background image to cover the entire container */
}


@media screen and (max-width: 1400px) and (min-width: 801px) {
   .buttonS{
      width: 65%;
      height: auto;
      margin: 1.5% 0px;
   }
   .logoS{
      width: 60%;
      height: auto;
      margin: 5% 0px;
   }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
   .buttonS{
      width: 80%;
      height: auto;
      margin: 4% 0px;
   }
   .logoS{
      width: 80%;
      height: auto;
      margin: 7% 0px;
   }
}

@media screen and (max-width: 600px){
   .buttonS{
      width: 100%;
      height: auto;
      margin: 7% 0px;
   }
   .logoS{
      width: 100%;
      height: auto;
      margin: 10% 0px;
   }
}
